/* #011f4b #03396c #005b96 #6497b1 #b3cde0 */

.header{
    margin:20px 50px;
    height: 50px;
    background-color: #005b96;
    color:white;
    font-family: Josefin Sans;
    text-align: center;
}
div.reset{
    margin : 50px;
    display: flex;
    justify-content: center;
    height:400px;
    font-family: Josefin Sans;
    font-size: 20px;
}
div>form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: solid black;
    height: fit-content;
    width: 275px;
    margin: auto;
    padding: 30px;
 }

 #cred_email{
    width: max-content;
    height: 50px;
 }

 input[name='em']{
    width: 200px;
    background-color:  #b3cde0 ;
 }

button[class='sendlink']{
    height: 30px;
    width: 206px;
    background-color: #005b96;
    color: white;
    border: none;
    font-family: Josefin Sans;
    font-size: 20px;
    margin-top: 20px;
}
 
div#cred_email span{
    font-size: 15px;
}

 

