<!DOCTYPE HTML>
<html>
    <head>
        <title>Reset Password</title>
        <link rel='stylesheet' href='{{url_for('static', filename='resetPassword.css')}}'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Sans">
    </head>

    <body>
        <!--header-->
        <div class='header'>
            <span>Reset Password</span>
        </div>

        <!--reset-->
        <div class='reset'>
            <form action="reset_form">
                <div id='cred_email'>
                    <label for="em">Please enter your registered email ID: </label><br>
                    <input type"email" name='em'></input>
                </div>
                <button type='submit' name='sendlink'>Send Link</button>
            </form>
            
        </div>

        <!--get the invalid credentials flash message-->
        {% with message = get_flashed_messages()  %}
        {% if message %}
        <span>{{message}}</span>
        {% endif %}
        {% endwith %}


    </body>
</html>