<!DOCTYPE html>
<html>
    <body>
        <p>
            Hello {{fname}}!<br>Thanks for choosing AquaClean. Your appointment is booked successfully.<br>
            Appointment details: 
            <table style='border:2px; border-color:white; color:#FFFFFF;'>
              <thead>
                  <th>Booking ID</th>
                  <th>Visit Date</th>
                  <th>Visit time</th>
                  <th>Customer Phone No.</th>
              </thead>
              <tbody>
                  <tr>
                      <td>{{iid}}</td>
                      <td>{{date}}</td>
                      <td>{{time}}</td>
                      <td>{{phone}}</td>
                  </tr>
              </tbody>
            </table>
           Our representative will visit at your registered address to fix the mentioned issue.
           Kindly confirm your presence at home during the visit period.<br>
           <br>Please feel free to <a href="mailto:aquaclean61@gmail.com">contact us</a> for any query or enquiry<br>
           <br>Regards,<br>
           <br>Aquaclean
        </p>
    </body>  
</html>